.eventWrap
  .eventHeader
    機材予約
  .formWrap
    .form
      .form__equipment
        機材名
        .form__equipment--name
          カメラ1
      .form__reserve
        .form__Year
          .form__Year--number
            2021
          .form__Year--string
            年
        .form__Month
          .form__Month--number
            1
          .form__Month--string
            月
        .form__Day
          .form__Day--number
            1
          .form__Day--string
            日
      .form__reserve
        .form__Year
          .form__Year--number
            2021
          .form__Year--string
            年
        .form__Month
          .form__Month--number
            1
          .form__Month--string
            月
        .form__Day
          .form__Day--number
            2
          .form__Day--string
            日
      .form__program
        .form__program__default
          番組名:
        .form__program__input
          ここに番組名入力する
      .form__place
        .form__place__default
          使用場所
        .form__place__input
          ここに使用場所を入力する
      .form__manager
        .form__manager__default
          責任者
        .form__manager__input
          ここに責任者名を入力する
      .form__description
        .form__description__input
          ここに備考欄があれば入力する
      .form__submitBtn
        .submit__btn
          予約する
