.wrapper
  .formWrap
    .formAll
      .formDefault
        .formDefault__inner
          機材名:
      .formInput
        .formInput__inner
          カメラ1
    .formAll
      .formDefault
        .formDefault__inner
          予約開始日:
      .formInput
        .formInput__select
          %select{name: "start_year"}
            %option{value: "default"} 選択する
            %option{value: "2021"} 2021
            %option{value: "2022"} 2022
        .formInput__string
          年
        .formInput__select
          %select{name: "start_month"}
            %option{value: "default"} 選択する
            %option{value: "1"} 1
            %option{value: "2"} 2
            %option{value: "3"} 3
            %option{value: "4"} 4
            %option{value: "5"} 5
            %option{value: "6"} 6
            %option{value: "7"} 7
            %option{value: "8"} 8
            %option{value: "9"} 9
            %option{value: "10"} 10
            %option{value: "11"} 11
            %option{value: "12"} 12
        .formInput__string
          月
        .formInput__select
          %select{name: "start_day"}
            %option{value: "default"} 選択する
            %option{value: "1"} 1
            %option{value: "2"} 2
            %option{value: "3"} 3
            %option{value: "4"} 4
            %option{value: "5"} 5
            %option{value: "6"} 6
            %option{value: "7"} 7
            %option{value: "8"} 8
            %option{value: "9"} 9
            %option{value: "10"} 10
            %option{value: "11"} 11
            %option{value: "12"} 12
            %option{value: "13"} 13
            %option{value: "14"} 14
            %option{value: "15"} 15
            %option{value: "16"} 16
            %option{value: "17"} 17
            %option{value: "18"} 18
            %option{value: "19"} 19
            %option{value: "20"} 20
            %option{value: "21"} 21
            %option{value: "22"} 22
            %option{value: "23"} 23
            %option{value: "24"} 24
            %option{value: "25"} 25
            %option{value: "26"} 26
            %option{value: "27"} 27
            %option{value: "28"} 28
            %option{value: "29"} 29
            %option{value: "30"} 30
            %option{value: "31"} 31
        .formInput__string
          日
    .formAll
      .formDefault
        .formDefault__inner
          予約終了日:
      .formInput
        .formInput__select
          %select{name: "end_year"}
            %option{value: "default"} 選択する
            %option{value: "2021"} 2021
            %option{value: "2022"} 2022
        .formInput__string
          年
        .formInput__select
          %select{name: "end_month"}
            %option{value: "default"} 選択する
            %option{value: "1"} 1
            %option{value: "2"} 2
            %option{value: "3"} 3
            %option{value: "4"} 4
            %option{value: "5"} 5
            %option{value: "6"} 6
            %option{value: "7"} 7
            %option{value: "8"} 8
            %option{value: "9"} 9
            %option{value: "10"} 10
            %option{value: "11"} 11
            %option{value: "12"} 12
        .formInput__string
          月
        .formInput__select
          %select{name: "end_day"}
            %option{value: "default"} 選択する
            %option{value: "1"} 1
            %option{value: "2"} 2
            %option{value: "3"} 3
            %option{value: "4"} 4
            %option{value: "5"} 5
            %option{value: "6"} 6
            %option{value: "7"} 7
            %option{value: "8"} 8
            %option{value: "9"} 9
            %option{value: "10"} 10
            %option{value: "11"} 11
            %option{value: "12"} 12
            %option{value: "13"} 13
            %option{value: "14"} 14
            %option{value: "15"} 15
            %option{value: "16"} 16
            %option{value: "17"} 17
            %option{value: "18"} 18
            %option{value: "19"} 19
            %option{value: "20"} 20
            %option{value: "21"} 21
            %option{value: "22"} 22
            %option{value: "23"} 23
            %option{value: "24"} 24
            %option{value: "25"} 25
            %option{value: "26"} 26
            %option{value: "27"} 27
            %option{value: "28"} 28
            %option{value: "29"} 29
            %option{value: "30"} 30
            %option{value: "31"} 31
        .formInput__string
          日
    .formAll
      .formDefault
        .formDefault__inner
          番組名:
      .formInput
        .formInput__inner
          %input{type: "text", name: "program_name", class: "program_name"}
    .formAll
      .formDefault
        .formDefault__inner
          使用場所:
      .formInput
        .formInput__inner
          %input{type: "text", name: "place"}
    .formAll
      .formDefault
        .formDefault__inner
          責任者:
      .formInput
        .formInput__inner
          %input{type: "text", name: "manager"}
    .formAll_description
      .formDefault
        .formDefault__inner
          備考:
      .formInput
        .formInput__inner
          %textarea{cols: "50", rows: "7", name: "description", placeholder: " 備考などあれば記入してください"}
    .form__btn
      .form__submit
        %input{type: "button", value: "予約する", class: "submitBtn"}
      .form__cancel
        %input{type: "button", value: "キャンセル", class: "cancelBtn"}
