.tablWrap
  %h1 予約一覧
  %table{border: "1"}
    %tr
      %th
      %th 曜日
      %th 月
      %th 火
      %th 水
      %th 木
      %th 金
      %th 土
      %th 日
      %th 月
      %th 火
      %th 水
      %th 木
      %th 金
      %th 土
      %th 日
      %th 月
      %th 火
      %th 水
      %th 木
      %th 金
      %th 土
      %th 日
      %th 月
      %th 火
      %th 水
      %th 木
      %th 金
      %th 土
      %th 日
      %th 月
      %th 火
      %th 水
    %tr
      %th
      %th 日付
      %th 1
      %th 2
      %th 3
      %th 4
      %th 5
      %th 6
      %th 7
      %th 8
      %th 9
      %th 10
      %th 11
      %th 12
      %th 13
      %th 14
      %th 15
      %th 16
      %th 17
      %th 18
      %th 19
      %th 20
      %th 21
      %th 22
      %th 23
      %th 24
      %th 25
      %th 26
      %th 27
      %th 28
      %th 29
      %th 30
      %th 31
    %tr
      %th 機材
    %tr
      %th camera1
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
    %tr
      %th camera2
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
    %tr
      %th camera3
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
