.eventWrap {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  .eventHeader {
    text-align: center;
    margin-top: 10px;
    &__content {
      font-size: 25px;
      font-weight: bold;
    }
  }
  .formWrap {
    margin-top: 10px;
    .form {
      &__equipment {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        &--name {
          font-size: 15px;
          margin-top: 5px;
          margin-left: 10px;
        }
      }
      &__reserve {
        margin-top: 10px;
        display: flex;
        &__default {
          font-weight: bold;
        }
        .formYear {
          display: flex;
          &__number {
            margin-left: 5px;
          }
          &__string {
            margin-left: 10px;
          }
        }
        .formMonth {
          display: flex;
          &__number {
            margin-left: 5px;
          }
          &__string {
            margin-left: 10px;
          }
        }
        .formDay {
          display: flex;
          &__number {
            margin-left: 5px;
          }
          &__string {
            margin-left: 10px;
          }
        }
      }
      .form__program {
        display: flex;
        margin-top: 10px;
        &__default {
          font-size: 25px;
          font-weight: bold;
        }
        &__input {
          margin: 5px 10px;
          .program_name {
            width: 400px;
          }
        }
      }
      .form__place {
        display: flex;
        margin-top: 10px;
        &__default {
          font-size: 25px;
          font-weight: bold;
        }
        &__input {
          margin: 5px 10px;
        }
      }
      .form__manager {
        display: flex;
        margin-top: 10px;
        &__default {
          font-size: 25px;
          font-weight: bold;
        }
        &__input {
          margin: 5px 10px;
        }
      }
      .form__description {
        display: flex;
        margin-top: 10px;
        &__default {
          font-size: 25px;
          font-weight: bold;
        }
        &__input {
          margin: 5px 10px;
        }

      }
      .form__submit {
        .submit__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          .submitBtn {
            width: 100px;
            height: 70px;
            background-color: skyblue;
            border-radius: 10px;
            border: none;
          }
        }
      }
    }
  }
}
