.wrapper {
  .tableWrap {
    width: 1500px;
    margin: 0 auto;
    .tableHeader {
      font-size: 25px;
      margin-top: 10px;
      background-color: deepskyblue;
    }
    .tableIndex {
      margin-top: 10px;
      table {
        width: 100%;
        th {
          text-align: center;
          font-weight: bold;
          width: 15px;
          height: 15px;
        }
        th.header {
          text-align: center;
          font-weight: bold;
          min-width: 100px;
        }
        td {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
